.feedback-container {
  padding: 30px;
  color: white;
  max-width: 800px;
  margin-top: -220px;
}
@media screen  and (max-width: 600px) {
  .feedback-container {
    margin-top: -350px;
  }
  
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group select,
.form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #1e2235;
  color: white;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.feedback-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #4a90e2;
  color: white;
  font-size: 16px;
}

.feedback-message {
  background-color: #e94e77;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  animation: slideInOut 10s forwards;
}

@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
