@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0e13;
  color: white;
  margin: 0;
}

.main-content-wrapper {
  padding-top: 70px; /* To prevent content from being hidden by the fixed navbar */
  min-height: 100vh; /* Takes up full viewport height including navbar space */
  box-sizing: border-box; /* Include padding in height calculation */
}
